.page {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background);
  background-image: url('/bg-hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
